.title {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #036666;
    font-size: 70px;
    font-family: monospace;
    text-shadow: 5px 2px 2px rgb(23, 23, 23);
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.094);
    background-repeat: no-repeat;
    background-attachment: sticky;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* position: sticky;
      top: 0px;
      width: 100%; */
  }