.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
    border: solid #036666;
    background-color: #036666;
    box-shadow: 10px 5px 5px black;
  }
  
  .button {
    border: none;
    color: white;
    font-style: bold;
    font-family: monospace;
    font-size: 35px;
    background-color: #036666;
    cursor: pointer;
    text-shadow: 7px 3px 3px black;
  }